<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/products">Products</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }} detail</li>
        </ol>
      </nav>

    <div class="right_bar ">
        	<div class="tab-content ">
		<div class="tab-pane fade show active" id="lorem" role="tabpanel">

<table class="table table-bordered">
    <thead>
      <tr>
        <td>Name {{ product.name }}</td>
        <td>Description {{ product.description }}</td>
        
      </tr>
    </thead>
    
  </table></div>
	</div>
    </div>


