<div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                Log In
              </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <input type="text" placeholder="Username" formControlName="username" class="fadeIn second" 
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                
                    
                    <input type="password" placeholder="Password" formControlName="password" class="fadeIn third" 
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    
                    <input type="submit" class="fadeIn fourth" value="Log In">
                    
                    
                
            </form>
        </div>
    </div>

