<div class="right_bar">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/products">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
  </nav>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" class="form-control" id="name" formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description" 
      [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
    </div>
    </div>
    
    <button type="submit">Add Product</button>
</form>
</div>
